/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

.carousel-caption p {
    font-size: 1.5em;
}

.carousel-caption h1{
    font-size: 3.2em;
}
  
  .carousel-item {
    height: 32rem;
  }

  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  @media  (max-width: 767px) {

    .carousel-caption p {
        font-size: 1em;
    }

    .carousel-caption h1{
        font-size: 2em;
    }
  }